[submodule "cocotb"]
	path = cocotb
	url = https://github.com/powlib/cocotb
[submodule "hdl"]
    path = hdl
    url = https://github.com/powlib/hdl
[submodule "sim"]
    path = sim
    url = https://github.com/powlib/sim    

